## Java

*.class
*.war
*.ear
hs_err_pid*

## Robovm
/ios/robovm-build/

## GWT
/html/war/
/html/gwt-unitCache/
.apt_generated/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## Android Studio and Intellij and Android in general
## /ryan-android/libs/armeabi-v7a/
## /android/libs/arm64-v8a/
## /android/libs/x86/
## /android/libs/x86_64/

/core-spine-a/build/
/android-spine-a/build/
/desk-spine-a/build/

/android-card/build/
/core-card/build/
android-card/build/
core-card/build/


/ryan-android_test/build/
/ryan-android_test/gen/
/ryan-android_test/out/
/ryan-android_test/bin/


/ryan-android/release/
/ryan-android/build/
/ryan-android/gen/
/ryan-android/out/
/ryan-android/assetsTmp/
/ryan-core/build/
/ryan-desktop/build/

ryan-android/build/
ryan-android/gen/
ryan-android/out/
ryan-core/build/
ryan-desktop/build/

baseCommon/build/
baseCommon/gen/
baseCommon/out/
baseCommon/.cxx/
baseCommon/.gradle/


/android/gen/
.idea/
*.ipr
*.iws
*.iml
/ryan-android/out/
com_crashlytics_export_strings.xml

## Eclipse

.classpath
.project
.metadata/
/ryan-android/bin/
/ryan-core/bin/
/desktop/bin/
/html/bin/
/ios/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans

/nbproject/private/
/android/nbproject/private/
/core/nbproject/private/
/desktop/nbproject/private/
/html/nbproject/private/
/ios/nbproject/private/

/build/
/ryan-android/build/
/ryan-desktop/build/
/html/build/
/ios/build/

/nbbuild/
/android/nbbuild/
/core/nbbuild/
/desktop/nbbuild/
/html/nbbuild/
/ios/nbbuild/

/dist/
/android/dist/
/core/dist/
/desktop/dist/
/html/dist/
/ios/dist/

/nbdist/
/ryan-android/nbdist/
/ryan-core/nbdist/
/ryan-desktop/nbdist/
/html/nbdist/
/ios/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle

/local.properties
.idea/
.gradle/
gradle-app.setting
/build/
/ryan-android/build/
/ryan-core/build/
/ryan-desktop/build/
/html/build/
/ios/build/

## OS Specific
.DS_Store
Thumbs.db

## iOS
/ios/xcode/*.xcodeproj/*
!/ios/xcode/*.xcodeproj/xcshareddata
!/ios/xcode/*.xcodeproj/project.pbxproj
/ios/xcode/native/
/ios/IOSLauncher.app
/ios/IOSLauncher.app.dSYM
